main {
    width: 50%;   
    margin: 0 auto;
    max-width: 1024px;
}
header {
    text-align: center;   
    background: linear-gradient(to top, white 50%, var(--main-color) 50%);
    border-bottom: 2px solid var(--main-color);
    margin-bottom: 25px;
    padding-bottom: 35px;
}

img {
    width: 200px;
    height: 200px;
    border-radius: 200px;
    border: 1px solid black;
    position: relative;    
    top: 42px;
}
h1 {
    position: relative;
    top: 25px;   
    font: small-caps 2.1em Questrial, sans-serif; 
    font-weight: 100;
    letter-spacing: 8px;
}
h2 {
    position: relative;
    top: 10px;
    color: var(--main-color);
    font: small-caps 0.9em Clear Sans Regular, sans-serif; 
    font-weight: 100;
    letter-spacing: 3px;
}
h3 {
    color: var(--main-color);
    font: small-caps 1.2em Clear Sans Regular, sans-serif;    
    font-weight: 100;
    letter-spacing: 2px;
}

section {
    padding: 0px 40px 20px 40px;
}

p, ul {
    font: 14px Clear Sans Regular, sans-serif;
    margin-bottom: -0.5em;   
}

footer {
    padding: 10px 20px 40px 20px;
    background-color: var(--main-color);
    margin-top: 25px;
    text-align: center;
}

footer h3 {
    color: black;
}

@font-face {
    font-family: Questrial;
    src: url(fonts/questrial/Questrial-Regular.otf); 
   }

@font-face {
    font-family: Clear Sans Regular;
    src: url(fonts/clear-sans/ClearSans-Regular.ttf); 
   }

.content-border {
    border-right: 2px solid var(--main-color);
}

.content-markup {
    display: grid;
    grid-template-columns: 1fr 1fr;
  }

:root {
    --main-color: #9CC4E7;
}